In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Inflation.csv')
df

           Date  Inflation Rate
0    31/12/2021             5.4
1    30/11/2021             5.1
2    31/10/2021             4.2
3    30/09/2021             3.1
4    31/08/2021             3.2
..          ...             ...
358  29/02/1992             6.9
359  31/01/1992             7.0
360  31/12/1991             7.2
361  30/11/1991             7.1
362  31/10/1991             6.8

[363 rows x 2 columns]

In [40]:
%run FormatDate.ipynb

In [41]:
def Inflation_Wrangler(df):
    format_date(df, 'Date', '%d/%m/%Y')
    return df

In [42]:
Inflation_Wrangler(df)

C:\Users\vojno\AppData\Local\Temp/ipykernel_15316/1911032317.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = pd.to_datetime(df[column_name][i], format = format_string)

                    Date  Inflation Rate
0    2021-12-31 00:00:00             5.4
1    2021-11-30 00:00:00             5.1
2    2021-10-31 00:00:00             4.2
3    2021-09-30 00:00:00             3.1
4    2021-08-31 00:00:00             3.2
..                   ...             ...
358  1992-02-29 00:00:00             6.9
359  1992-01-31 00:00:00             7.0
360  1991-12-31 00:00:00             7.2
361  1991-11-30 00:00:00             7.1
362  1991-10-31 00:00:00             6.8

[363 rows x 2 columns]