In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Economic_Release.csv')
df

,Date Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Event,Unnamed: 5,Survey,Actual,Prior,Revised,Relevance,Ticker
0,01/04/2010 04:30,UK,1),NaN,Net Consumer Credit,Nov,-5.00E+08,-4.00E+08,-6.00E+08,-4.00E+08,UKMSCRCA Index,NaN
1,01/04/2010 04:30,UK,2),NaN,Net Lending Sec. on Dwellings,Nov,1.00E+09,1.50E+09,9.00E+08,9.00E+08,47.619,UKMSVTVJ Index
2,01/04/2010 04:30,UK,3),NaN,Mortgage Approvals,Nov,58000,60500,57300,56100,84.5238,UKMSVTVX Index
3,01/04/2010 04:30,UK,4),NaN,Money Supply M4 MoM,Nov F,--,0.10%,0.00%,-0.40%,53.5714,UKMSM41M Index
4,01/04/2010 04:30,UK,5),NaN,M4 Money Supply YoY,Nov F,--,9.30%,9.20%,9.00%,54.7619,UKMSM41Y Index
...,...,...,...,...,...,...,...,...,...,...,...,...
11323,02/03/2022 07:00,UK,1329),NaN,BOE Corporate Bond Target,Feb,2.00E+10,--,2.00E+10,--,21.4286,UKAPCBPT Index
11324,02/03/2022 07:00,UK,1330),NaN,BOE Gilt Purchase Target,Feb,8.75E+11,--,8.75E+11,--,76.1905,UKAPTARG Index
11325,02/04/2022 04:00,UK,1331),NaN,New Car Registrations YoY,Jan,--,--,-18.20%,--,44.0476,UKVHRYY Index
11326,02/04/2022 04:30,UK,1332),NaN,Markit/CIPS UK Construction PMI,Jan,54.3,--,54.3,--,77.381,MPMIGBXA Index
11327,02/07/2022 19:01,UK,1333),NaN,BRC Sales Like-For-Like YoY,Jan,--,--,0.60%,--,30.9524,KPRSLFLS Index