In [ ]:
import pandas as pd

In [6]:
df = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Economic_Events.csv')
df

,Date Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Event
0,01/07/2016 19:01,UK,1),NaN,"Jonathan Hill meets with Jon Cunliffe, Deputy ..."
1,01/08/2016,UK,2),NaN,United Kingdom Sovereign Debt to Be Rated by DBRS
2,01/12/2016 09:15,UK,3),NaN,Mark Carney speaks in Paris
3,01/12/2016 11:00,UK,4),NaN,"Cameron Questioned by Commons Panel on Syria, ..."
4,01/14/2016 05:30,UK,5),NaN,Andrew Bailey Speaks on Green Finance at Mansi...
...,...,...,...,...,...
775,11/30/2021 08:00,UK,776),NaN,BOE's Mann speaks at event with Barclays
776,12/01/2021 09:00,UK,777),NaN,BOE's Bailey speaks on insurance regulation
777,12/03/2021 06:00,UK,778),NaN,BOE's Saunders speaks.
778,12/10/2021,UK,779),NaN,United Kingdom Sovereign Debt to be rated by F...
779,01/28/2022 04:30,UK,780),NaN,Inflation by household income