In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Inflation.csv')
df

           Date  Inflation Rate
0    31/12/2021             5.4
1    30/11/2021             5.1
2    31/10/2021             4.2
3    30/09/2021             3.1
4    31/08/2021             3.2
..          ...             ...
358  29/02/1992             6.9
359  31/01/1992             7.0
360  31/12/1991             7.2
361  30/11/1991             7.1
362  31/10/1991             6.8

[363 rows x 2 columns]