In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Economic_Release.csv')
original_data

,Date Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Event,Unnamed: 5,Survey,Actual,Prior,Revised,Relevance,Ticker
0,01/04/2010 04:30,UK,1),NaN,Net Consumer Credit,Nov,-5.00E+08,-4.00E+08,-6.00E+08,-4.00E+08,UKMSCRCA Index,NaN
1,01/04/2010 04:30,UK,2),NaN,Net Lending Sec. on Dwellings,Nov,1.00E+09,1.50E+09,9.00E+08,9.00E+08,47.619,UKMSVTVJ Index
2,01/04/2010 04:30,UK,3),NaN,Mortgage Approvals,Nov,58000,60500,57300,56100,84.5238,UKMSVTVX Index
3,01/04/2010 04:30,UK,4),NaN,Money Supply M4 MoM,Nov F,--,0.10%,0.00%,-0.40%,53.5714,UKMSM41M Index
4,01/04/2010 04:30,UK,5),NaN,M4 Money Supply YoY,Nov F,--,9.30%,9.20%,9.00%,54.7619,UKMSM41Y Index
...,...,...,...,...,...,...,...,...,...,...,...,...
11323,02/03/2022 07:00,UK,1329),NaN,BOE Corporate Bond Target,Feb,2.00E+10,--,2.00E+10,--,21.4286,UKAPCBPT Index
11324,02/03/2022 07:00,UK,1330),NaN,BOE Gilt Purchase Target,Feb,8.75E+11,--,8.75E+11,--,76.1905,UKAPTARG Index
11325,02/04/2022 04:00,UK,1331),NaN,New Car Registrations YoY,Jan,--,--,-18.20%,--,44.0476,UKVHRYY Index
11326,02/04/2022 04:30,UK,1332),NaN,Markit/CIPS UK Construction PMI,Jan,54.3,--,54.3,--,77.381,MPMIGBXA Index
11327,02/07/2022 19:01,UK,1333),NaN,BRC Sales Like-For-Like YoY,Jan,--,--,0.60%,--,30.9524,KPRSLFLS Index

## Data Wrangling

Column **'Unnamed: 1'** only ever contains UK, which makes it a irrelevant column.  
Column **'Unnamed: 3'** only ever contains NaN, which makes it a irrelevant column

In [3]:
print(original_data['Unnamed: 1'].unique())
print(original_data['Unnamed: 3'].unique())

clean_data = original_data.drop(labels = ['Unnamed: 1', 'Unnamed: 3'], axis = 1)

['UK']
[nan]

Checking which columns contain NaN values:

In [4]:
result = {}
for col in clean_data.columns:
    result[col] = clean_data[col].isna().sum()
result

{'Date Time': 0,
 'Unnamed: 2': 0,
 'Event': 0,
 'Unnamed: 5': 310,
 'Survey': 310,
 'Actual': 310,
 'Prior': 310,
 'Revised': 364,
 'Relevance': 450,
 'Ticker': 2195}

What is the meaning of Ticker? - If it does not matter then we can include more rows in this data

In [5]:
clean_data['Ticker'].unique()

array([nan, 'UKMSVTVJ Index', 'UKMSVTVX Index', 'UKMSM41M Index',
       'UKMSM41Y Index', 'MPMIGBMA Index', 'MPMIGBXA Index',
       'MPMIGBSA Index', 'UKCR Index', 'UKVHRYY Index', 'UKBRBASE Index',
       'UKAPTARG Index', 'UKRXPBAL Index', 'UKTBALEE Index',
       'UKTBLGDT Index', 'UKTBTTBA Index', 'UKIPIMOM Index',
       'UKIPIYOY Index', 'UKMPIMOM Index', 'UKMPIYOY Index',
       'UKRMNAPM Index', 'UKRMNAPY Index', 'UKRPCJMR Index',
       'UKRPCJYR Index', 'UKHCA9IQ Index', 'UKRPI Index', 'UKRPMOM Index',
       'UKRPYOY Index', 'UKRPXYOY Index', 'UKUER Index', 'UKUEMOM Index',
       'UKUEILOR Index', 'UKPSBR Index', 'UKPSNB Index', 'UKRVAMOM Index',
       'UKRVAYOY Index', 'UKGRABIQ Index', 'UKGRABIY Index',
       'UKISCT3M Index', 'UKCCI Index', 'UKNBAAMM Index',
       'UKNBANYY Index', 'UKAWMWHO Index', 'UKAWXTOM Index',
       'UKBINPEQ Index', 'UKBINPEY Index', 'UKGEABRQ Index',
       'UKGENMYQ Index', 'UKGENPTQ Index', 'UKGEIKKQ Index',
       'UKGEIKLQ Index', 'UKRVINFM Index', 'UKRVINFY Index', 'UKCA Index',
       'MTEF1C Index', 'ITSR1B Index', 'UKMS4QG Index', 'DTSRR1RB Index',
       'UKPSJ5II Index', 'UKISCTMM Index', 'KPRSLFLS Index',
       'BRCPALLY Index', 'MTEF4C Index', 'UKBFFTIN Index',
       'UKLFEMCH Index', 'UKMSB3PS Index', 'UKCNALSM Index',
       'UKCNALSY Index', 'MPMIGBCA Index', 'UKPSM98R Index',
       'LTSBBSBX Index', 'UKMWDMWN Index', 'DTSDD1RB Index',
       'UKLHUKY Index', 'UKAPCBPT Index', 'UKHCCPIY Index',
       'UKGDM3 Index', 'UKGDM3M Index', 'UKMSB4TC Index',
       'UKPRLZVD Index', 'UKPPB7SM Index', 'UKPPB7SY Index',
       'UKPPHIPM Index', 'UKPPHIPY Index'], dtype=object)

Column name Unnamed: 5 is very unstructured and unsure what it means:

In [6]:
clean_data['Unnamed: 5'].unique()

array(['Nov', 'Nov F', 'Dec', nan, '07-Jan', 'Jan', 'Dec P', '4Q A',
       'Dec F', '04-Feb', 'Feb', 'Jan P', '4Q P', 'Jan F', '04-Mar',
       'Mar', 'Feb P', '4Q F', 'Feb F', '4Q', 'Apr', '08-Apr', 'Mar P',
       '1Q A', 'Mar F', 'May', '10-May', '1Q P', 'Apr P', 'Apr F', 'Jun',
       '10-Jun', 'May P', 'May F', '1Q F', 'Jul', '08-Jul', '1Q', 'Jun P',
       '2Q A', 'Jun F', 'Aug', '05-Aug', 'Jul P', '2Q P', 'Jul F', 'Sep',
       '09-Sep', 'Aug P', '2Q F', '2Q', 'Aug F', '07-Oct', 'Oct', 'Sep P',
       '3Q A', 'Sep F', '04-Nov', '3Q P', '09-Dec', '3Q F', '3Q',
       '13-Jan', '10-Feb', '10-Mar', '07-Apr', '05-May', '09-Jun',
       '07-Jul', '04-Aug', '08-Sep', '06-Oct', '10-Nov', '08-Dec',
       '12-Jan', '09-Feb', '08-Mar', '05-Apr', '07-Jun', '05-Jul',
       '02-Aug', '06-Sep', '04-Oct', '08-Nov', '06-Dec', '10-Jan',
       '07-Feb', '07-Mar', '04-Apr', '09-May', '06-Jun', '04-Jul',
       '01-Aug', '05-Sep', '10-Oct', '07-Nov', '05-Dec', '09-Jan',
       '06-Feb', '06-Mar', '10-Apr', '08-May', '05-Jun', '10-Jul',
       '07-Aug', '04-Sep', '09-Oct', '06-Nov', '04-Dec', '08-Jan',
       '05-Feb', '05-Mar', '09-Apr', '11-May', '04-Jun', '09-Jul',
       '06-Aug', '10-Sep', '08-Oct', '05-Nov', '10-Dec', '14-Jan',
       '17-Mar', '14-Apr', '12-May', '16-Jun', '14-Jul', '15-Sep',
       '03-Nov', '15-Dec', '02-Feb', '16-Mar', '15-Jun', '03-Aug',
       '14-Sep', '02-Nov', '14-Dec', '08-Feb', '22-Mar', '21-Jun',
       '13-Sep', '01-Nov', '20-Dec', '21-Mar', '02-May', '20-Jun',
       '19-Sep', 'Nov P', '19-Dec', '30-Jan', '11-Mar', '19-Mar',
       '26-Mar', '07-May', '18-Jun', '17-Sep', 'Oct P', 'Oct F', '17-Dec',
       '18-Mar', '06-May', '24-Jun', '23-Sep', '16-Dec', '03-Feb'],
      dtype=object)

A lot of missing data:

In [7]:
print(len(clean_data[clean_data['Survey'] == '--']))
print(len(clean_data[clean_data['Actual'] == '--']))
print(len(clean_data[clean_data['Prior'] == '--']))
print(len(clean_data[clean_data['Revised'] == '--']))

2189
565
530
4520

Formatting Date Time column:

In [8]:
count = 0
for i in range(len(clean_data)):
    try:
        clean_data['Date Time'][i] = pd.to_datetime(clean_data['Date Time'][i])
    except ValueError:
        count += 1
print(count)

1

In [9]:
clean_data[clean_data['Date Time'].apply(lambda x: isinstance(x, str))]

,Date Time,Unnamed: 2,Event,Unnamed: 5,Survey,Actual,Prior,Revised,Relevance,Ticker
11318,02/01/2022 01/14,1324),Unit Labor Costs YoY,3Q,--,--,-3.80%,--,10.7143,UKMWDMWN Index

#### Reusable function for formatting date time:

In [10]:
def format_date(df, column_name):
    err = 0
    for i in range(len(df)):
        try:
            df[column_name][i] = pd.to_datetime(df[column_name][i])
        except ValueError:
            err += 1
    return err

In [11]:
format_date(clean_data, 'Date Time')

1