# Notebook for looking at the Government.csv

In [99]:
import pandas as pd 
import datetime as datetime

In [26]:
input_data = pd.read_csv('../../Notebooks/Datasets/Economic_dataset/Government.csv')
for col in input_data.columns:
    print(col)
input_data

Date Time
Unnamed: 1
Unnamed: 2
Unnamed: 3
Event

,Date Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Event
0,01/02/2000 10:00,UK,1),NaN,Prime Minister's Question Time
1,01/10/2000 09:30,UK,2),NaN,Social Security Secretary Answers Questions in...
2,01/10/2000,UK,3),NaN,Houses of Parliament Resume Sitting
3,01/11/2000 09:30,UK,4),NaN,Transport Secretary Answers Questions in Parli...
4,01/12/2000 10:00,UK,5),NaN,Prime Minister's Question Time
...,...,...,...,...,...
4123,10/03/2021 10/06,UK,4124),NaN,Conservative Party Conference in Manchester
4124,10/27/2021 07:30,UK,4125),NaN,U.K. Budget
4125,11/01/2021 07:00,UK,4126),NaN,U.K. OBR chiefs testify
4126,11/01/2021 11:15,UK,4127),NaN,U.K. Chancellor of the Exchequer Rishi Sunak t...
4127,11/02/2021 11:00,UK,4128),NaN,U.K.'s Sunak testifies on budget

## Data Wrangling

Checking for unique values in the Unamed Fields

In [27]:
print('\n Unique Data in Unnamed 1: \n')
print(input_data['Unnamed: 1'].unique())
print('\n Unique Data in Unnamed 2: \n')
print(input_data['Unnamed: 2'].unique())
print('\n Unique Data in Unnamed 3: \n')
print(input_data['Unnamed: 3'].unique())

 Unique Data in Unnamed 1:

['UK' 'EC' 'PD' 'GE' 'FR' 'HU' 'UA' 'US' 'AU' 'SZ' 'IR' 'RU' 'AF' 'BE'
 'IT' 'CA' 'DE' 'SQ' 'WW' 'MC' 'PO' 'HK' 'PK' 'NO' 'AR' 'CH' 'CL' 'JN'
 'MX' 'RR' 'SA' 'SW' 'IN' 'IA' 'SP' 'FI' 'ED' 'QA' 'CC' 'SK' 'NE' 'ID'
 'AS']

 Unique Data in Unnamed 2:

['1)' '2)' '3)' ... '4126)' '4127)' '4128)']

 Unique Data in Unnamed 3:

[nan]

 Drop 'Unnamed 3', as it only includes 'nan' values, and 'Unnamed 2' as its contents is not relevant.

In [28]:
post_drop = input_data.drop(columns=["Unnamed: 2","Unnamed: 3"])
post_drop

,Date Time,Unnamed: 1,Event
0,01/02/2000 10:00,UK,Prime Minister's Question Time
1,01/10/2000 09:30,UK,Social Security Secretary Answers Questions in...
2,01/10/2000,UK,Houses of Parliament Resume Sitting
3,01/11/2000 09:30,UK,Transport Secretary Answers Questions in Parli...
4,01/12/2000 10:00,UK,Prime Minister's Question Time
...,...,...,...
4123,10/03/2021 10/06,UK,Conservative Party Conference in Manchester
4124,10/27/2021 07:30,UK,U.K. Budget
4125,11/01/2021 07:00,UK,U.K. OBR chiefs testify
4126,11/01/2021 11:15,UK,U.K. Chancellor of the Exchequer Rishi Sunak t...
4127,11/02/2021 11:00,UK,U.K.'s Sunak testifies on budget

Check for duplicate rows

In [29]:
no_duplicates= post_drop.drop_duplicates()
# vv Test theres no duplicated values vv
#no_duplicates[no_duplicates.duplicated() == True]

Checking Date time is in the correct format. If not corvert to the right format

In [30]:
print(no_duplicates['Date Time'][1])
no_duplicates['Date Time'][1] = pd.to_datetime(no_duplicates['Date Time'][1])
print(no_duplicates['Date Time'][1])

01/10/2000 09:30
2000-01-10 09:30:00

C:\Users\LUKEBE~1\AppData\Local\Temp/ipykernel_4596/2476841786.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_duplicates['Date Time'][1] = pd.to_datetime(no_duplicates['Date Time'][1])

In [31]:

count = 0
for i in range(len(no_duplicates)):
    try:
        no_duplicates['Date Time'][i] = pd.to_datetime(no_duplicates['Date Time'][i])
    except (ValueError, KeyError):
        count += 1
print(count)

C:\Users\LUKEBE~1\AppData\Local\Temp/ipykernel_4596/2181392203.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_duplicates['Date Time'][i] = pd.to_datetime(no_duplicates['Date Time'][i])

274

Check the date range

In [62]:
#no_duplicates['Date Time'] = pd.to_datetime(no_duplicates['Date Time']) # If your Date column is of the type object otherwise skip this
#date_range = str(no_duplicates['Date Time']) + ' to ' +str(no_duplicates['Date Time'].dt.date.max())
#print(str(no_duplicates['Date Time'].min()))
date_range = pd.date_range(no_duplicates['Date Time'][0],no_duplicates['Date Time'][len(no_duplicates['Date Time'])])
print(date_range)
#date_range = pd.date_range(str(no_duplicates['Date Time'].min()),str(no_duplicates['Date Time'].max()))

DatetimeIndex(['2000-01-02 10:00:00', '2000-01-03 10:00:00',
               '2000-01-04 10:00:00', '2000-01-05 10:00:00',
               '2000-01-06 10:00:00', '2000-01-07 10:00:00',
               '2000-01-08 10:00:00', '2000-01-09 10:00:00',
               '2000-01-10 10:00:00', '2000-01-11 10:00:00',
               ...
               '2021-10-23 10:00:00', '2021-10-24 10:00:00',
               '2021-10-25 10:00:00', '2021-10-26 10:00:00',
               '2021-10-27 10:00:00', '2021-10-28 10:00:00',
               '2021-10-29 10:00:00', '2021-10-30 10:00:00',
               '2021-10-31 10:00:00', '2021-11-01 10:00:00'],
              dtype='datetime64[ns]', length=7975, freq='D')

Average number events per day

In [71]:
#Get the range of days between the first date and the last from previous cell#
length = 7975 
number_per_day = len(no_duplicates)/length
print("number of events per day: " + str(number_per_day))
frequency = 1/number_per_day
print("Frequency of an event, is every "+str(frequency) +" days")

number of events per day: 0.5173667711598746
Frequency of an event, is every 1.9328647600581677 days

Type of Events

In [74]:
Events = no_duplicates.drop(columns = ["Date Time"]).drop_duplicates("Event")
Events

     Unnamed: 1                                              Event
0            UK                     Prime Minister's Question Time
1            UK  Social Security Secretary Answers Questions in...
2            UK                Houses of Parliament Resume Sitting
3            UK  Transport Secretary Answers Questions in Parli...
5            UK  Agriculture Secretary Answers Questions in Par...
...         ...                                                ...
4121         FR   Group of Seven finance ministers conference call
4123         UK        Conservative Party Conference in Manchester
4125         UK                            U.K. OBR chiefs testify
4126         UK  U.K. Chancellor of the Exchequer Rishi Sunak t...
4127         UK                   U.K.'s Sunak testifies on budget

[2874 rows x 2 columns]

# Filtering

Filter By Events

In [75]:
event = "U.K. Labour Party Holds Election News Conference" #Type of event
filtered_by_event = no_duplicates[no_duplicates["Event"] == event]
filtered_by_event

,Date Time,Unnamed: 1,Event
447,2004-04-22 03:45:00,UK,U.K. Labour Party Holds Election News Conference
693,2005-04-12 03:39:00,UK,U.K. Labour Party Holds Election News Conference
700,2005-04-14 22:00:00,UK,U.K. Labour Party Holds Election News Conference
706,2005-04-18 04:32:00,UK,U.K. Labour Party Holds Election News Conference
710,2005-04-19 05:40:00,UK,U.K. Labour Party Holds Election News Conference
712,2005-04-20 04:10:00,UK,U.K. Labour Party Holds Election News Conference
714,2005-04-21 03:32:00,UK,U.K. Labour Party Holds Election News Conference
720,2005-04-25 03:30:00,UK,U.K. Labour Party Holds Election News Conference
724,2005-04-26 03:15:00,UK,U.K. Labour Party Holds Election News Conference
728,2005-04-27 05:00:00,UK,U.K. Labour Party Holds Election News Conference
729,2005-04-27 05:34:00,UK,U.K. Labour Party Holds Election News Conference

Filter By Date

In [100]:
Day = 20
Month = 11
Year = 2001
filtered_by_date = no_duplicates[no_duplicates['Date Time']==datetime.date(Year,Month,Day)]
filtered_by_date
#import datetime

G:\Anaconda\envs\pythonProject1\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

,Date Time,Unnamed: 1,Event
320,2001-11-20 04:30:00,UK,Budget Deficit Figures
321,2001-11-20 09:30:00,UK,"Transport, Local Government, Regions Questions..."