# Shipping Cost

### Note: not finished yet 
<ul>
    <li>Need to rename rows</li>
    <li>Get rid of zero values</li>
    <li>Format quarters to date time format</li>

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import plotly.express as px

import WranglerFunctions as wf

In [58]:
Freight_csv = pd.read_csv('../Datasets/Shipping_dataset/WCI_Freight_Rate_Composite.csv', index_col = False)
Freight_wrangle1 =Freight_csv.drop(columns=["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4"])
Freight_wrangle2 = Freight_wrangle1.T
Freight_wrangle2.columns =[str(Freight_wrangle2[0][0]), str(Freight_wrangle2[1][0])]
Freight_wrangle2.drop(["Unnamed: 0"], axis=0,inplace=True)
# for row in Freight_wrangle2.iterrows():
#     row = str(Freight_wrangle2['Description'][row])
#print(Freight_wrangle2.columns)
Freight_wrangle2

,Description,Container Rates (USD per FEU) - WCI Freight Rate Composite
Unnamed: 5,2022 Q2,6160.1843
Unnamed: 6,2022 Q1,6855.7359
Unnamed: 7,2021 Q4,6993.0906
Unnamed: 8,2021 Q3,6938.7992
Unnamed: 9,2021 Q2,4206.3509
Unnamed: 10,2021 Q1,3736.4071
Unnamed: 11,2020 Q4,2366.0156
Unnamed: 12,2020 Q3,1714.9324
Unnamed: 13,2020 Q2,1292.0384
Unnamed: 14,2020 Q1,1289.7431
Unnamed: 15,2019 Q4,1063.7595
Unnamed: 16,2019 Q3,1120.0095
Unnamed: 17,2019 Q2,1050.9614
Unnamed: 18,2019 Q1,1215.667
Unnamed: 19,2018 Q4,1304.6214
Unnamed: 20,2018 Q3,1271.3641
Unnamed: 21,2018 Q2,979.2582
Unnamed: 22,2018 Q1,1016.4456
Unnamed: 23,2017 Q4,938.0898
Unnamed: 24,2017 Q3,1129.6113
Unnamed: 25,2017 Q2,1148.9137
Unnamed: 26,2017 Q1,1314.4065
Unnamed: 27,2016 Q4,1145.9778
Unnamed: 28,2016 Q3,1010.9387
Unnamed: 29,2016 Q2,699.4838
Unnamed: 30,2016 Q1,709.4295
Unnamed: 31,2015 Q4,628.4341
Unnamed: 32,2015 Q3,866.8378
Unnamed: 33,2015 Q2,865.2056
Unnamed: 34,2015 Q1,1296.2703
Unnamed: 35,2014 Q4,1157.9863
Unnamed: 36,2014 Q3,1272.8832
Unnamed: 37,2014 Q2,1187.4391
Unnamed: 38,2014 Q1,1282.6153
Unnamed: 39,2013 Q4,1082.893
Unnamed: 40,2013 Q3,1296.911
Unnamed: 41,2013 Q2,1118.471
Unnamed: 42,2013 Q1,1359.0892
Unnamed: 43,2012 Q4,1255.8434
Unnamed: 44,2012 Q3,1562.2676
Unnamed: 45,2012 Q2,1596.8254
Unnamed: 46,2012 Q1,1079.5245
Unnamed: 47,2011 Q4,856.8742
Unnamed: 48,2011 Q3,1030.1412
Unnamed: 49,2011 Q2,998.2346
Unnamed: 50,2011 Q1,0
Unnamed: 51,2010 Q4,0
Unnamed: 52,2010 Q3,0
Unnamed: 53,2010 Q2,0
Unnamed: 54,2010 Q1,0
Unnamed: 55,2009 Q4,0
Unnamed: 56,2009 Q3,0
Unnamed: 57,2009 Q2,0
Unnamed: 58,2009 Q1,0
Unnamed: 59,2008 Q4,0
Unnamed: 60,2008 Q3,0
Unnamed: 61,2008 Q2,0
Unnamed: 62,2008 Q1,0
Unnamed: 63,2007 Q4,0
Unnamed: 64,2007 Q3,0