# Shipping Cost

Here we will look at the World Container Index Freight Rate Composite. We have look at the quarterly values 

<i>The World Container Index is an index developed by Drewry, one of the most reputed research, advisory and consulting service providers for the shipping and maritime industry. Drawing upon its expertise and accumulated data, Drewry publishes the WCI, covering the Spot market freight rates on a weekly basis.
The index tracks and publishes on a weekly basis, indexed rates across major head haul corridors and backhaul legs, including Shanghai-Rotterdam, Rotterdam-Shanghai, Shanghai-Genoa, Shanghai-Los Angeles, Los Angeles-Shanghai, Shanghai-New York, New York-Rotterdam, Rotterdam-New York, besides also publishing a composite indexed value.</i>

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import plotly.express as px

import WranglerFunctions as wf

In [136]:
#Get Data
Freight_csv = pd.read_csv('../Datasets/Shipping_dataset/WCI_Freight_Rate_Composite.csv', index_col = False)
#Carry out imdiate wragling
Freight_wrangle1 =Freight_csv.drop(columns=["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4"])
Freight_wrangle2 = Freight_wrangle1.T
Freight_wrangle2.columns =[str(Freight_wrangle2[0][0]), str(Freight_wrangle2[1][0])]
Freight_wrangle2.drop(["Unnamed: 0"], axis=0,inplace=True)
Freight_wrangle2['Container Rates (USD per FEU) - WCI Freight Rate Composite'] = Freight_wrangle2['Container Rates (USD per FEU) - WCI Freight Rate Composite'].astype(float)
Freight_wrangle2 = Freight_wrangle2[Freight_wrangle2['Container Rates (USD per FEU) - WCI Freight Rate Composite']!=0]
#convert quarters to Data Time format
Freight_wrangle2["Date"] = pd.to_datetime(Freight_wrangle2["Description"].str.replace(r'(\d+) (Q\d)', r'\1-\2'), errors='coerce')
Freight_wrangle2 = Freight_wrangle2.drop(columns='Description')
#Reorder columns
cols = Freight_wrangle2.columns.tolist()
cols = cols[1:] + cols[0:1] 
cols
Freight_wrangle2 = Freight_wrangle2[cols]
#Reset index
Freight_wrangle2.set_index(np.arange(1,(len(Freight_wrangle2['Date'])+1)))

df = Freight_wrangle2
df

C:\Users\LUKEBE~1\AppData\Local\Temp/ipykernel_13216/4169495416.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  Freight_wrangle2["Date"] = pd.to_datetime(Freight_wrangle2["Description"].str.replace(r'(\d+) (Q\d)', r'\1-\2'), errors='coerce')

,Date,Container Rates (USD per FEU) - WCI Freight Rate Composite
Unnamed: 5,2022-04-01,6160.1843
Unnamed: 6,2022-01-01,6855.7359
Unnamed: 7,2021-10-01,6993.0906
Unnamed: 8,2021-07-01,6938.7992
Unnamed: 9,2021-04-01,4206.3509
Unnamed: 10,2021-01-01,3736.4071
Unnamed: 11,2020-10-01,2366.0156
Unnamed: 12,2020-07-01,1714.9324
Unnamed: 13,2020-04-01,1292.0384
Unnamed: 14,2020-01-01,1289.7431
Unnamed: 15,2019-10-01,1063.7595
Unnamed: 16,2019-07-01,1120.0095
Unnamed: 17,2019-04-01,1050.9614
Unnamed: 18,2019-01-01,1215.6670
Unnamed: 19,2018-10-01,1304.6214
Unnamed: 20,2018-07-01,1271.3641
Unnamed: 21,2018-04-01,979.2582
Unnamed: 22,2018-01-01,1016.4456
Unnamed: 23,2017-10-01,938.0898
Unnamed: 24,2017-07-01,1129.6113
Unnamed: 25,2017-04-01,1148.9137
Unnamed: 26,2017-01-01,1314.4065
Unnamed: 27,2016-10-01,1145.9778
Unnamed: 28,2016-07-01,1010.9387
Unnamed: 29,2016-04-01,699.4838
Unnamed: 30,2016-01-01,709.4295
Unnamed: 31,2015-10-01,628.4341
Unnamed: 32,2015-07-01,866.8378
Unnamed: 33,2015-04-01,865.2056
Unnamed: 34,2015-01-01,1296.2703
Unnamed: 35,2014-10-01,1157.9863
Unnamed: 36,2014-07-01,1272.8832
Unnamed: 37,2014-04-01,1187.4391
Unnamed: 38,2014-01-01,1282.6153
Unnamed: 39,2013-10-01,1082.8930
Unnamed: 40,2013-07-01,1296.9110
Unnamed: 41,2013-04-01,1118.4710
Unnamed: 42,2013-01-01,1359.0892
Unnamed: 43,2012-10-01,1255.8434
Unnamed: 44,2012-07-01,1562.2676
Unnamed: 45,2012-04-01,1596.8254
Unnamed: 46,2012-01-01,1079.5245
Unnamed: 47,2011-10-01,856.8742
Unnamed: 48,2011-07-01,1030.1412
Unnamed: 49,2011-04-01,998.2346