In [8]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'ipynb'

In [6]:
financial_original = pd.read_csv('../Datasets/Financial_dataset/F3METL_Comp.csv', index_col=False)
financial_original

,Unnamed: 0,RIO LN Equity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,GLEN LN Equity,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,BHP LN Equity,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,NaN,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,...,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?,#NAME?
1,Dates,PX_OPEN,PX_HIGH,PX_LOW,PX_LAST,PX_VOLUME,EBITDA,PE_RATIO,PX_OPEN,PX_HIGH,...,PX_VOLUME,EBITDA,PE_RATIO,PX_OPEN,PX_HIGH,PX_LOW,PX_LAST,PX_VOLUME,EBITDA,PE_RATIO
2,#NAME?,1197.851,1239.156,1197.851,1235.025,1086665,1404.1713,25.8085,#NAME?,NaN,...,NaN,NaN,NaN,#NAME?,NaN,NaN,NaN,NaN,2489,NaN
3,04/01/2000,1239.156,1243.287,1210.242,1217.677,3585947,1404.1713,25.8338,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2489,NaN
4,05/01/2000,1210.242,1218.503,1159.024,1163.981,3342568,1404.1713,24.782,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2489,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5758,25/01/2022,5312,5353,5276,5311,2538309,19744,6.1803,391.35,395,...,3070741,2061,6.2323,NaN,NaN,NaN,NaN,NaN,20181,NaN
5759,26/01/2022,5422,5506,5388,5434,2878571,19744,6.3346,394.65,406,...,2865499,2061,6.3396,NaN,NaN,NaN,NaN,NaN,20181,NaN
5760,27/01/2022,5399,5623,5384,5569,2943232,19744,6.4205,393.85,408.25,...,2745585,2061,6.4637,NaN,NaN,NaN,NaN,NaN,20181,NaN
5761,28/01/2022,5628,5665,5365,5386,6162008,19744,6.2169,402,403,...,3847210,2061,6.3724,NaN,NaN,NaN,NaN,NaN,20181,NaN
5762,31/01/2022,5400,5409,5178,5185,3349054,19744,6.0059,397.55,398.4,...,2175911,2061,6.3604,2426,2426,2341.5,2347,5257964,20181,NaN

In [13]:
%run ../Financial notebooks/F3Metl_Comp.ipynb

Exception: File `'../Financial_notebooks/F3Metl_Comp.ipynb.py'` not found.